*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background: black;
}

h1, h4, p, a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}
 .btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: goldenrod;
  color: black;
  border: 1px solid whitesmoke;
  font-weight: 600;
  cursor: pointer;
 }

 .btn-light{
  background: transparent;
  color: whitesmoke;
 }

 .btn:hover{
  background: grey;
  color: whitesmoke;
  transition: 0.3s;
 }